:root {
    --verso-structure-font-family: "Inter", Helvetica, Arial, sans-serif;
    --verso-text-font-family: "Inter", Helvetica, Arial, sans-serif;
    --verso-code-font-family: "Fira Code", monospace;
    --lean-blue: #0073a3;
    --lean-light-blue: #98b2c0;
    --verso-toc-background-color: var(--lean-blue);
}

p {
    font-feature-settings: "calt" off;
}

header h1 {
    background-color: var(--lean-blue);
    font-weight: 700;
    color: white;
    padding: 0.5em;
    margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1, h2 {
    font-weight: 800;
    color: var(--lean-blue);
}

h3 {
    font-weight: 700;
    color: var(--lean-light-blue);
}

h4 {
    font-weight: 600;
}

h5, h6 {
    font-weight: 500;
}

#toc, #toc a, #toc a:hover {
    color: white;
}

#toc > ol > li {
    font-weight: 600;
}

#toc > ol > li > ol {
    font-weight: 400;
}